workflows/noc-resume-analyzer.json
{
  "name": "NOC Resume Analyzer",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -336,
        144
      ],
      "name": "OpenRouter Chat Model",
      "id": "313c3a82-aeaa-47a1-bfd2-056890163689",
      "credentials": {
        "openRouterApi": {
          "id": "fSIW6LP1RuA32Hog",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        144
      ],
      "id": "7923482c-df5f-450a-b145-53cd59c303c0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI output\nconst rawOutput = $json.output;\nlet profile;\n\ntry {\n  const jsonStart = rawOutput.indexOf('{');\n  const jsonEnd = rawOutput.lastIndexOf('}');\n  const jsonString = rawOutput.substring(jsonStart, jsonEnd + 1);\n  profile = JSON.parse(jsonString);\n} catch (e) {\n  profile = $json;\n}\n\n// Extract all NOC codes from all jobs\nconst jobs = profile.jobs || [];\nconst allNocCodes = jobs.map(job => job.noc_code || job.NOC_code).filter(Boolean);\nconst primaryNoc = allNocCodes.length > 0 ? parseInt(allNocCodes[0]) : null;\n\nreturn [{\n  json: {\n    email: profile.email || null,\n    resume_data: JSON.stringify(profile),\n    noc_codes: primaryNoc,\n    all_noc_codes: allNocCodes.join(','), // \"65501,65301,14101,12203,0122,12201\"\n    education: JSON.stringify(profile.education || []),\n    skills: JSON.stringify(profile.skills || []),\n    certifications: JSON.stringify(profile.certifications || []),\n    recommendation_text: null,\n    timestamp: new Date().toISOString()\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -48
      ],
      "name": "⚙️ Data Parser & Formatter",
      "id": "b49cc64e-c6aa-418b-b139-aad0d71e5b3e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a specialized AI resume parser that extracts detailed candidate information for Canadian immigration advisory.\n\n### ROLE\nYou are a precise data extractor. Your primary function is to analyze resumes for Canadian immigration suitability by extracting key information and assigning the correct National Occupational Classification (NOC) codes.\n\n### TASK\nGiven the resume text, extract the specified fields and structure them into a JSON object.\n\n### EXTRACTION FIELDS\n- **full_name**: The candidate's full name.\n- **email**: The candidate's contact email address. Must be a valid email format.\n- **location**: City and country of residence.\n- **education**: An array of objects, each containing `degree`, `institution`, and `dates`.\n- **jobs**: An array of objects, each detailing a specific role.\n- **skills**: A list of key skills and competencies relevant to Canadian NOC codes.\n- **languages**: A list of languages spoken.\n- **certifications**: A list of certifications and awards.\n- **volunteer_work**: Any volunteer work or notable affiliations.\n\n### CRITICAL REQUIREMENTS FOR EACH JOB\nFor each job entry, you MUST include the following fields:\n- **job_title**: The title of the role.\n- **employer_name**: The name of the employer.\n- **start_date**: The start date of employment.\n- **end_date**: The end date of employment.\n- **job_description**: A summary of responsibilities and achievements.\n- **noc_code**: A **5-digit string** representing the NOC 2021 code.\n- **teer_level**: A **string** from \"0\" to \"5\" for the TEER level.\n- **justification**: A brief explanation for the chosen NOC code.\n\n### NOC and TEER DETERMINATION\n1.  Analyze the job description and title from the resume.\n2.  **Crucially, you must use your web-browsing capabilities to consult the official Government of Canada NOC website: `https://noc.esdc.gc.ca/OaSIS/OaSISWelcome`.** Search for the job title and duties on this site to find the most accurate 2021 NOC code.\n3.  Match the role to the most appropriate NOC 2021 code based on the main duties as described on the official website.\n4.  The TEER level is directly determined by the first digit of the NOC code (e.g., a NOC code starting with '2' corresponds to TEER 1). You must assign the TEER level based on this rule.\n5.  In the `justification` field, you must mention that you verified the code on the official NOC website.\n\n### ERROR HANDLING AND DATA QUALITY\n- If a field is not present in the resume, its value should be `null`. **Do not omit any keys.**\n- If a date is ambiguous (e.g., \"2022\"), represent it as best as possible (e.g., \"2022-01-01 to 2022-12-31\") and add a note in the `justification`.\n- If an email address is malformed, set the value to `null`.\n\n### INPUT\nResume Text:\n{{$node[\"📝 PDF Text Extraction\"].json[\"text\"]}}\n\n### OUTPUT FORMAT\nProvide a single, valid JSON object.\n\n#### EXAMPLE JOB OBJECT\n```json\n{\n  \"job_title\": \"Software Developer\",\n  \"employer_name\": \"Tech Solutions Inc.\",\n  \"start_date\": \"June 2021\",\n  \"end_date\": \"Present\",\n  \"job_description\": \"Developed and maintained web applications using React and Node.js.\",\n  \"noc_code\": \"21232\",\n  \"teer_level\": \"1\",\n  \"justification\": \"The role involves software design, development, and testing, which aligns with NOC 21232 for Software developers and programmers. Verified on the official NOC website.\"\n}\n```\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -336,
        -48
      ],
      "name": "🤖 NOC Code Analyzer",
      "id": "751da115-031e-4b04-86f4-e9f822e0cbfa"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume_PDF",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -560,
        -48
      ],
      "name": "📝 PDF Text Extraction",
      "id": "b4557a82-fc83-4a08-ade7-34a8d9898f90"
    },
    {
      "parameters": {
        "path": "36c74b26-d5fc-4471-a1e7-100c4cc37611",
        "formTitle": "Upload Resume",
        "formDescription": "Upload your Resume PDF here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Resume_PDF",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -784,
        -48
      ],
      "name": "📄 Resume Upload Form",
      "webhookId": "36c74b26-d5fc-4471-a1e7-100c4cc37611",
      "id": "6f50b85a-2b8f-4d0d-b971-0fce0d1aef8d"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "zH8B6fydcJ3uIsmZ",
          "mode": "list",
          "cachedResultName": "Resume Data",
          "cachedResultUrl": "/projects/npqilrwLEYn7BfHr/datatables/zH8B6fydcJ3uIsmZ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.email }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "education": "={{ $json.education }}",
            "noc_codes": "={{ $json.noc_codes }}",
            "resume_data": "={{ $json.resume_data }}",
            "skills": "={{ $json.skills }}",
            "certifications": "={{ $json.certifications }}",
            "recommendation_text": "={{ $json.recommendation_text }}",
            "all_noc_codes": "={{ $json.all_noc_codes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resume_data",
              "displayName": "resume_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "noc_codes",
              "displayName": "noc_codes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "all_noc_codes",
              "displayName": "all_noc_codes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "education",
              "displayName": "education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "certifications",
              "displayName": "certifications",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recommendation_text",
              "displayName": "recommendation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        240,
        -48
      ],
      "id": "6b536364-ddcf-44e2-a899-4b8739eeb00e",
      "name": "💾 Resume Database Storage"
    },
    {
      "parameters": {
        "content": "🎯 NOC Resume Analyzer\nAutomated Canadian immigration assessment workflow\nExtracts NOC codes and candidate data from PDF resumes\n",
        "height": 128,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -176
      ],
      "typeVersion": 1,
      "id": "ecd398ec-e766-47e5-b8d3-2ac6530d3880",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "📊 Data Processing Pipeline\n1. PDF → Text extraction\n2. AI analysis with NOC matching\n3. Structured data formatting\n4. Local database storage\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        112
      ],
      "typeVersion": 1,
      "id": "fc4d5c8f-6320-4f4e-a3a2-1c9bbd18fb45",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "💡 Output Data:\n✅ Primary NOC code (number)\n✅ All NOC codes (comma-separated)\n✅ Email, education, skills\n✅ Complete resume JSON\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        112
      ],
      "typeVersion": 1,
      "id": "78ed79bc-753d-4e1f-94f6-7545921a61b2",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 NOC Code Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "🤖 NOC Code Analyzer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Data Parser & Formatter": {
      "main": [
        [
          {
            "node": "💾 Resume Database Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 NOC Code Analyzer": {
      "main": [
        [
          {
            "node": "⚙️ Data Parser & Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 PDF Text Extraction": {
      "main": [
        [
          {
            "node": "🤖 NOC Code Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Resume Upload Form": {
      "main": [
        [
          {
            "node": "📝 PDF Text Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a93e48a-b698-41eb-b4cb-cbe20892076c",
  "meta": {
    "instanceId": "b3398227427234397588ecb0e39c75fdbe7391b3b1893a085901f207d8f46554"
  },
  "id": "2f7aYdHMUEzGZhHT",
  "tags": []
}
